html, #root {
  height: 100%;
  padding-top: 0%;
  margin-top: 0%;
} 

.App {
  display: grid;
  grid-template-areas:
      "nav nav"
      "feed leaderboard"
      "feed leaderboard";
      /* "footer nav"; */
  grid-template-columns: 70% 1fr;
  grid-template-rows: 80px 1fr;
  row-gap: 10px;
  column-gap: 15px;
  border-radius: 5px;
}

body {
  background-image: url("./assets/trail.jpg");
  background-attachment: fixed;
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
  height: 100%;
  min-height: 100%;
  /* padding: 10px; */
  padding-top: 0%;
  margin: 0px;
  /* margin: 10px; */
  font-family: Rockwell, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}


.grid {
  display: grid;
  grid-template-areas: "feed leaderboard";
  row-gap: 10px;
  column-gap: 15px;
  padding-right: 10%;
  padding-left: 10%;
  padding-top: 5%;

}

nav {
  grid-area: nav;
  display: flex;
  justify-content: space-around;
  /* background-color: lightgray; */
  padding: 15px;
  position: sticky;
  top: 0;
  background-color: white;
  
}



#feed {
  grid-area: feed;
  list-style-type: none;
  /* padding-left: 15%; */
  margin-right: 15%;
  color: #ffffff;
}

#feed > li {
  border-style: solid;
  border-width: 2px;
  border-color: lightgray;
  padding: 10px;
  margin: 0px;
  text-align: center;
  display: inline-block;
  background-color: rgb(100, 100, 94.1, .6);
  overflow-wrap: break-word;
  border-radius: 5px;
  height: 280px;
  width: 350px;
}

#feed > li > a {
  color: white;
}


#feed > li > img {
  height: 200px;
  width: 275px;
  /* margin-left: auto;
  margin-right: auto; */
  /* display: block; */
  border-radius: 5px;
  margin: 0px;
  justify-content: center;
  padding-top: 7%;
}

span#time {
  padding-top: 15px;
  font-size: 12px;
}

#leaderboard {
  grid-area: leaderboard;
  border-color: lightgray;
  border-style: solid;
  display: table;
  list-style-type: none;
  padding: 15px;
  border-radius: 5px;
  background-color: rgb(100, 100, 94.1, .6);
  color: #ffffff;
  position: sticky;
  top: 18%;
  /* margin-top: 30%; */
}

#leaderboard > h3 {
  text-align: center;
}

#leaderboard > li {
  padding-top: 10px;
  padding-bottom: 10px;
}

#leaderboard > li > a {
  color: orange;
}


/* .trail-show {

} */


.trail-show > img {
  padding-top: 20px;
  height: 350px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.profile_header {
  text-align: center;
}

#edit-btn {
  text-align: center;
}

.picture-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 300px 300px 300px;
  list-style-type: none;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  padding-left: 10%;
  padding-right: 10%;
}

.profile-img {
  display: block;
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  /* transition: .5s ease;
  backface-visibility: hidden;
  position: relative;
  opacity: 1; */
}

.outer-container{
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.5s;
}

.overlay > * {
  transform: translateY(20px);
  transition: transform 0.5s;
}

.overlay:hover {
  opacity: 1;
}

.overlay:hover > * {
  transform: translateY(0)
}

.image-title > a {
  color: #ffffff;
}

button {
  padding-top: 4px;
  font-family: inherit;
  border-radius: 5px;
  box-shadow: 0 1px, 2px, rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
}

button:hover {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}




.hero-img {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  /* background-image: url("https://dg2design.com/wp-content/uploads/2018/05/hiking-trail.jpg"); */

  

  /* Set a specific height */
  /* height: 100%;

  /* Position and center the image to scale nicely on all screens */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative; */ 
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
